.panel-component {
  padding: 16px;
  width: 350px;

  .product-list-container {
    margin: 16px 0;
  }

  .product-card {
    display: flex;
    padding: 16px;
    position: relative;

    .product-image {
      height: auto;
      margin-right: 16px;
      max-height: 90px;
      width: 100px;
    }

    .delete-icon {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}
