.panel-component {
  padding: 1rem;
  width: 350px;

  .product-list-container {
    margin: 1rem 0;
  }

  .product-card {
    display: flex;
    padding: 1rem;
    position: relative;

    .product-image {
      height: auto;
      margin-right: 1rem;
      max-height: 5.625rem;
      width: 6.25rem;
    }

    .delete-icon {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}
