html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Colors
 #283149
 #404b69
 #00818a
 #dbedf3 */

/* spacing: 8px */

:root {
  --accent-color: #00818a;
  --light-color: #dbedf3;
  --primary-color: #283149;
  --secondary-color: #404b69;
}
